:root {
	--firstColorGradientFromDark: #5e2bdb,
	--secondColorGradientToLight: #6f59f2,
	--darkFirstColor: #6366f1
}

main {
	display: grid;
	place-content: center;
	place-items: center;
	place-self: center;
	margin: auto;
}

.ap {
	width: 8em;
	height: 16em;
}
html:not(.dark) .ap__ring {
	stroke: hsla(var(--hue), 10%, 10%, 0.15);
	transition: stroke 0.3s;
}
.ap__worm1,
.ap__worm2 {
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}
html:not(.dark) .ap__worm1 {
	animation-name: worm1;
	stroke: var(--firstColorGradientFromDark);
}
html:not(.dark) .ap__worm2 {
	animation-name: worm2;
	visibility: hidden;
	stroke: var(--secondColorGradientToLight);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	main {
		background: #0f172a;
		height: 100vh;
		weight: 100vw;
	}
	.ap__ring {
		stroke: hsla(var(--hue), 10%, 90%, 0.1);
	}
	.ap__worm1 {
		animation-name: worm1;
		stroke: var(--darkFirstColor);
	}
	.ap__worm2 {
		animation-name: worm2;
		visibility: hidden;
		stroke: var(--darkFirstColor);
	}
}

/* Animtions */
@keyframes worm1 {
	from {
		animation-timing-function: ease-in-out;
		stroke-dashoffset: -87.96;
	}
	20% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 0;
	}
	60% {
		stroke-dashoffset: -791.68;
		visibility: visible;
	}
	60.1%,
	to {
		stroke-dashoffset: -791.68;
		visibility: hidden;
	}
}
@keyframes worm2 {
	from,
	60% {
		stroke-dashoffset: -87.96;
		visibility: hidden;
	}
	60.1% {
		animation-timing-function: cubic-bezier(0, 0, 0.5, 0.75);
		stroke-dashoffset: -87.96;
		visibility: visible;
	}
	77% {
		animation-timing-function: cubic-bezier(0.5, 0.25, 0.5, 0.88);
		stroke-dashoffset: -340;
		visibility: visible;
	}
	to {
		stroke-dashoffset: -669.92;
		visibility: visible;
	}
}
