@import '~antd/dist/antd.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.inputbox input:focus ~ span,
.inputbox input:valid ~ span,
.inputbox textarea:focus ~ span,
.inputbox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.navbarColor {
  background-image: linear-gradient(to right, #ff8d73, #feb37b);
}

.productColor {
  background: linear-gradient(263.41deg, #ff8d73 6.94%, #feb37a 100%);
}

.searchColor {
  background: linear-gradient(266.08deg, #ff8d73 1%, #feb37a 100%);
}

.socialBarColor {
  background: linear-gradient(
    180deg,
    rgba(172, 172, 172, 0.3) 0%,
    rgba(172, 172, 172, 0.3) 100%
  );
}

.ribbon-wrapper {
  pointer-events: none;
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -2px;
  left: -2px;
}

.ribbon {
  font: bold 13px Sans-Serif;
  text-align: center;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  position: relative;
  padding: 3px 0;
  right: 30px;
  top: 15px;
  width: 120px;
  background-color: #ff0808;
  background-image: -o-linear-gradient(top, #ff0808, #962c2c);
  color: #ffffff;
  box-shadow: 0px 0px 3px rgb(0 0 0 / 30%);
}

.text-gradient {
  background: linear-gradient(to right, #ff8d73, #feb37b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ant-switch-checked {
  background-color: #feaf7a;
}
